<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.xz.xlogin">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="false"
        android:networkSecurityConfig="@xml/network_security_config"
        android:supportsRtl="true"
        tools:replace="android:allowBackup">
        <activity android:name=".ui.ResetActivity" />
        <activity
            android:name=".ui.RegisterActivity"
            android:launchMode="singleInstance"
            android:screenOrientation="fullUser" />
        <activity
            android:name=".ui.LoginActivity"
            android:launchMode="singleInstance"
            android:screenOrientation="fullUser" />
        <activity
            android:name=".ui.WebActivity"
            android:launchMode="singleTop"
            android:screenOrientation="fullUser"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
    </application>

</manifest>